.main-layout {

    @include for-extra-wide-layout {}

    @include for-wide-layout {}

    @include for-medium-layout {}

    @include for-narrow-layout {
        .product-page {
            flex-direction: column;
            text-align: center;

            .product-header {
                text-align: center;
            }

            .image-container {
                width: 100%;
            }

            .reactive-section {
                margin-bottom: initial;
                padding: 20px;
            }
        }
    }
}