.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px 20px 120px;
    position: sticky;
    background-color: white;
    top: 0px;
    z-index: 1;

    .logo {
        font-size: 33px;
        color: $clr3;
        font-family: 'Bebas Neue', cursive;
        min-width: 140px;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        width: 160px;
    }


    .bag-link {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;

        h3 {
            font-size: 25px;
            margin-left: 4px;
        }
    }

    .bag-image-continer {
        height: 30px;
        stroke-width: 200;

        .svg {
            height: 30px;
            width: 30px;
            stroke-width: 200;
        }
    }

    .wishlist-link {
        .svg{
            height: 28px;
            width: 30px;
        }
    }
}