.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px 30px 120px;
    position: sticky;
    background-color: white;
    top: 0px;

    .logo {
        font-size: 33px;
        color: $clr3;
        font-family: 'Bebas Neue', cursive;
    }


    .cart-link {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        h3 {
            font-size: 22px;
            margin-left: 4px;
            margin-top: 3px;
        }

        .svg-cart{
            height: 30px;
            width: 30px;
        }
    }

    .cart-image-continer {
        height: 20px;
    }
}