.main-layout {

    @include for-biggest-layout {
        // .links {
        //     >* {
        //         margin: 0px 20px 0px 20px;
        //         font-size: 26px;
        //         font-family: 'Bebas Neue', cursive;
        //     }

        //     > :first-child {
        //         margin-left: 0px;
        //     }
        // }
    }

    @include for-extra-wide-layout {}

    @include for-wide-layout {}

    @include for-medium-layout {

        .links {
            justify-content: initial;

            >* {
                margin: 0px 0px 0px 0px;
                font-size: 35px;
                font-family: 'Bebas Neue', cursive;

            }

            > :first-child {
                margin-left: 0px;
            }
        }


    }

    @include for-narrow-layout {}
}