.message-continer {
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
    border-radius: 10px;
    padding: 8px 5px;
    margin-bottom: 20px;
    max-width: fit-content;
    align-items: center;

    :first-child {
        padding-right: 5px;
    }

    .justifyStart {
        justify-content: flex-start;
    }

    .justifyEnd {
        justify-content: flex-end;
    }

    .message-content {
        display: inline-block;
        

        div {
            width: 100%;
            letter-spacing: 0;
            float: left;
            font-size: 1.1em;
            word-wrap: break-word;
        }
    }

}