*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}




@font-face {
  font-family: 'vegur-regular';
  src: local('vegur'), url(./font/Fonts/vegur-regular.otf), url(./font/Fonts/vegur-regular.otf) format('opentype');
}

@font-face {
  font-family: 'vegur-bold';
  src: local('vegur-bold'), url(./font/Fonts/vegur-bold.otf), url(./font/Fonts/vegur-bold.otf) format('opentype');
}


code {
  font-family: 'vegur-regular', 'vegur-bold', sans-serif;
}

body {
  font-family: 'vegur-regular';
  margin: 0px;
}


// SETUP
@import './styles/setup/mixins';
@import './styles/setup/variabels';
@import './styles/setup/layout';

// LAYOUTS 
@import './styles/cmps/header/header.layout.scss';
@import './styles/pages/home/home.layout.scss';
@import './styles/cmps/product-preview/productPreview.layout.scss';
@import './styles/cmps/navbar/navbar.layout.scss';
@import './styles/cmps/cart/cartLayout.scss';
@import './styles/cmps/product-page/productPage.layout.scss';

// COMPONENTS
@import './styles/cmps/header/header.scss';
@import './styles/pages/home/home.scss';
@import './styles/cmps/product-preview/productPrev.scss';
@import './styles/cmps/cart/cart.scss';
@import './styles/cmps/product-page/productPage.scss';
@import './styles/pages/home/wishList/wishlist.scss';
@import './styles/cmps/navbar/navbar.scss';

